// import home page style
@use "./section/homeStyle";

// import button style
@use "../css/section/bottone";


// variabili
@use "../css/abstract/variables";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    // background-image: url(../img/pexels-nicole-avagliano-1132392-2312040.jpg);
    font-family: variables.$fontFamily;
    height: 100dvh;
    background-color: variables.$coloreNero;
}

#container-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    height: 100%;
}

.grid-item {
    // border: 1px solid red;
}



