@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
#header {
  grid-area: header;
  width: 100%;
  margin-top: 16px;
}
#header h1 {
  font-family: "Press Start 2P", system-ui;
  font-size: 27px;
  text-align: left;
  line-height: 1.2em;
}
#header span {
  width: 100%;
  text-align: left;
  font-size: 20px;
}
#header #nav-bar {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #1FE211;
  margin-top: 8px;
  cursor: pointer;
}
#header #nav-bar span {
  width: 100%;
  color: #000;
  animation: lampeggiamento 1s ease-in-out infinite;
}
#header #nav-bar .menu-lista {
  position: absolute;
  top: 22px;
  z-index: 10;
  height: auto;
  list-style: none;
  background-color: #1FE211;
  width: 100%;
}
#header #nav-bar .menu-lista li {
  padding: 10px;
  list-style: none;
  width: 100%;
  color: black;
}
#header #nav-bar .menu-lista li a {
  text-decoration: none;
  color: black;
}
#header #nav-bar .menu-lista li:hover {
  background-color: #000;
  color: white;
}
#header #nav-bar .menu-lista li:hover a {
  color: white;
}

#aside {
  display: none;
  grid-area: "aside";
  width: 100%;
}

#main {
  border: 1px solid #1FE211;
  padding: 16px;
  margin-top: 16px;
  grid-area: main;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  height: auto;
}
#main #title-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#main .box-contatore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  height: 100px;
  margin-top: 8px;
  border: 5px solid #1FE211;
  height: 300px;
}
#main .box-contatore #numero {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120px;
  height: auto;
}
#main .box-contatore .box-button {
  width: 100%;
  height: 50px;
  border: 1px solid yellow;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#main .random-text {
  margin: 16px auto;
  text-align: center;
  width: 100%;
}
#main .random-text span {
  animation: lampeggiamento 1s ease-in-out infinite;
}
#main .coins {
  animation: lampeggiamento 1s ease-in-out infinite;
}

#sidebar {
  width: 100%;
  border: 1px solid #1FE211;
  margin-top: 16px;
  font-size: 18px;
  padding: 16px;
}
#sidebar li {
  list-style-type: none;
  padding-top: 10px;
}
#sidebar li span {
  font-size: 22px;
  color: #FF0004;
}

#footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  margin: 0 auto;
  padding: 8px;
  grid-area: footer;
  width: 95%;
}

@media (min-width: 768px) {
  #header {
    grid-area: header;
    width: 100%;
    text-align: center;
    height: auto;
  }
  #header span {
    text-align: center;
  }
  #aside {
    height: 80vh;
    display: block;
    grid-area: "aside";
    width: 100%;
    margin-top: 16px;
    padding: 16px;
    border: 1px solid #1FE211;
  }
  #aside h4 {
    font-size: 20px;
  }
  #aside p {
    padding: 8px;
    line-height: 1.2rem;
    letter-spacing: 0.2;
    animation: interferenza 10s ease-out infinite;
  }
  #aside ol {
    padding-left: 32px;
    width: 100%;
  }
  #aside ol li {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
  }
  #aside ol li p {
    box-sizing: border-box;
    color: yellow;
  }
  #main {
    grid-area: main;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    height: 80vh;
  }
  #main .box-contatore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin-top: 8px;
    border: 5px solid #1FE211;
    height: 400px;
    width: 100%;
  }
  #main .box-contatore #numero {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120px;
    height: auto;
  }
  #main .box-contatore .box-button {
    width: 100%;
    height: 50px;
    border: 1px solid yellow;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
  }
  #main .random-text {
    font-size: 22px;
    margin: 16px auto;
    text-align: center;
    width: 100%;
  }
  #main .random-text span {
    animation: lampeggiamento 1s ease-in-out infinite;
  }
  #main .coins {
    animation: lampeggiamento 1s ease-in-out infinite;
  }
  #sidebar {
    width: 100%;
  }
  #footer {
    grid-area: footer;
  }
}
@keyframes lampeggiamento {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes interferenza {
  0% {
    opacity: 1;
  }
  .2% {
    opacity: 0;
  }
  .4% {
    opacity: 1;
  }
  .5% {
    opacity: 0;
  }
  .6% {
    opacity: 1;
  }
  .8% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  2% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 30px;
  border: 2px solid #1FE211;
  background-color: #000;
  color: white;
  font-size: 18px;
  box-shadow: 0 0 5px 2px #1FE211;
}

.reset {
  border: 2px solid #FF0004;
  box-shadow: 0 0 5px 2px #FF0004;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #1FE211;
  font-family: "Share Tech Mono", monospace;
  height: 100vh;
  overflow: hidden;
}

#container-grid {
  margin: 10px auto;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.grid-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu-show {
  display: none;
  position: absolute;
}

@media (min-width: 768px) {
  body {
    background-color: #000;
    color: #1FE211;
  }
  #container-grid {
    margin: 0 auto;
    max-width: 1500px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "header header header" "aside main sidebar" "footer footer footer";
    grid-template-rows: auto auto auto;
    gap: 5px;
  }
  .grid-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */