// importazione variabili
@use "./abstract/variables";

// importazione home style
@use "./section/homePage";

// importo bottoni stile
@use "./section/button";

// FONT SHARE TECH MONO
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variables.$coloreNero;
    color: variables.$coloreVerde;
    // border: 1px solid yellow;
    font-family: variables.$fontFamilyText;
    height: 100vh;
    overflow: hidden;
}

#container-grid {
    margin: 10px auto;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.grid-item {
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    width: 100%;
}

.menu-show {
    display: none;
    position: absolute;
}






// **** DESKTOP QUERY
@media (min-width:768px) {
    
    body {
        background-color: variables.$coloreNero;
        color: variables.$coloreVerde;
    }
    #container-grid {
        margin: 0 auto;
        max-width: 1500px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "header header header"
            "aside main sidebar"
            "footer footer footer";
        grid-template-rows: auto auto auto;
        gap: 5px;
    }
    .grid-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        // border: 1px solid red;
        width: 100%;
    }
}