@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 16px 16px;
  width: 100%;
  word-wrap: break-word;
}
#header h2 {
  color: #1FE211;
}
#header h1 {
  padding: 10px 0 0 0;
  margin: 0;
  color: #000;
  font-size: clamp(3.2rem, 2.5dvw, 4rem);
  text-align: center;
  word-break: break-all;
  color: #1FE211;
}
#header #dark-mode {
  text-align: right;
  width: 29%;
  font-size: 12px;
  margin-top: 5px;
}

#hero-section {
  border: 1px solid yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 700px;
  padding: 22px 22px 0 22px;
  height: 100vh;
  width: 100%;
  border: 1px solid black;
}
#hero-section #box-main {
  padding: 35px 35px 35px 35px;
  border: 0.5px #1FE211;
  border-style: dashed;
  border-radius: 0px;
  height: auto;
  width: 100%;
}
#hero-section .title-counter {
  width: 100%;
  padding: 0px 0 10px 0;
  font-size: clamp(0.2rem, 14px, 1rem);
  text-align: center;
  color: #1FE211;
}
#hero-section .box-contatore {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #1FE211;
}
#hero-section .box-contatore .round {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}
#hero-section .box-contatore .uno {
  top: 5px;
  left: 5px;
  background-color: #1FE211;
}
#hero-section .box-contatore .due {
  top: 5px;
  right: 5px;
  background-color: #1FE211;
}
#hero-section .box-contatore .tre {
  bottom: 5px;
  left: 5px;
  background-color: #1FE211;
}
#hero-section .box-contatore .quattro {
  bottom: 5px;
  right: 5px;
  background-color: #1FE211;
}
#hero-section .box-contatore .box-numero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(52, 70, 50);
  height: 200px;
  width: 100%;
  color: #1FE211;
  font-size: clamp(5.2rem, 59px, 6.2rem);
  border: 1px solid black;
}
#hero-section .box-button {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0 0 0;
  gap: 10px;
}
#hero-section .nointiendo {
  display: block;
  color: #1FE211;
  padding-top: 10px;
  font-size: 10px;
}
#hero-section .code {
  color: #1FE211;
  font-size: clamp(0.8rem, 1dvw, 2rem);
  padding-bottom: 16px;
}

.info {
  width: 100%;
  border: 1px solid rgb(39, 9, 121);
  margin: 0;
  padding: 0px 0 0 0;
  text-align: left;
}
.info .info-space {
  padding-top: 0px;
}
.info .lista-score {
  list-style: none;
  padding: 0px 0 10px 0;
}
.info .lista-score li {
  padding: 10px 0 10px 0;
}

.dark-theme {
  background-color: #000;
  color: white !important;
}

.dark-theme h1 {
  color: white !important;
}

.dark-display {
  background-color: rgb(152, 178, 22) !important;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: #1FE211;
  color: #000;
  border: none;
  border-radius: 0;
  font-size: 35px;
  cursor: pointer;
}

.reset {
  font-size: 12px;
  border-radius: 0;
  max-width: 100px;
  height: 30px;
  border: 1px solid grey;
  background: rgb(169, 168, 168);
  cursor: pointer;
}

.btn:hover {
  background: #17b70b;
}

.reset:hover {
  background: linear-gradient(rgb(86, 86, 86), rgb(41, 37, 37));
}

.dark-button {
  width: 70px;
  border-radius: 0;
  border: none;
  background-color: #1FE211;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", system-ui;
  height: 100dvh;
  background-color: #000;
}

#container-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  height: 100%;
}/*# sourceMappingURL=main.css.map */