// STILE BOTTONI
@use "../abstract/variables" as variabili;

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 30px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 18px;
    box-shadow: 0 0 5px 2px variabili.$coloreBlu;
    box-shadow: none;
    font-weight: bold;
    background-color: variabili.$coloreBluScuro;
    cursor: pointer;
    transition: 300ms ease-in-out;

    &:hover {
        transition: 300ms ease-in-out;
        transform: scale(1.1);
        box-shadow: 2px 2px 3px gray;
    }
}

.reset {
    background-color: variabili.$coloreArancione;

    &:hover {
        transition: 300ms ease-in-out;
        transform: scale(1.1);
        box-shadow: 2px 2px 3px gray;
    }
}