// STILE BOTTONI
@use "../abstract/variables" as variabili;

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 30px;
    border: 2px solid variabili.$coloreBlu;
    background-color: variabili.$coloreNero;
    color: white;
    font-size: 18px;
    box-shadow: 0 0 5px 2px variabili.$coloreBlu;
}

.reset {
    border: 2px solid variabili.$coloreArancione;
    box-shadow: 0 0 5px 2px variabili.$coloreArancione;
}