//IMPORT VARIABILI
@use "../abstract/variables" as variabili;
@use "../abstract/animations" as animazioni;


body {
    font-family: variabili.$fontFamilyMain;
    width: 98%;
    overflow: hidden;
    margin: 0 auto;
    background: #e6f3ff;
    background: linear-gradient(164deg, rgba(230, 243, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
// PAGE CONTAINER
#container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (min-width:1024px) {
        margin: 0 auto;
        max-width: 1500px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "header header header"
            "aside main sidebar"
            "footer footer footer";
        grid-template-rows: auto auto auto;
        gap: 5px;
    }
}

.grid-item {
    // border: 1px solid red;
    width: 100%;

    // DESKTOP
    @media (min-width:1024px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // border: 1px solid red;
        width: 100%;
    }
}

.menu__show {
    display: none;
    position: absolute;
}


// - - - - A S I D E - - - - - - 
.aside {
    display: none;
    grid-area: "aside";
    width: 100%;
    height: auto;
    border: 1px solid salmon;

    // DESKTOP
    @media (min-width:1024px) {
        height: auto;
        display: block;
        grid-area: "aside";
        width: 100%;
        margin-top: 16px;
        padding: 16px;

    &__title {
            font-size: 24px;
            font-weight: bold;
        }

    &__box {
        margin-top: 8px;
        border-radius: 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        width: 100%;
        border: 1px solid saddlebrown;
        }
    }
    
}

// - - - - M A I N - - - - - -
.main {
    width: 100%;
    grid-area: "main";
    height: fit-content;
    border: 1px solid rgb(22, 18, 133);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width:1024px) {
        grid-area: "main";
        width: 100%;
        grid-template-columns: 2fr 1fr;
        height: auto;
    }

    &__titles {
        width: 100%;
        border-radius: 8px;
        padding: 6px;
        margin: 8px 0 0 0;
        box-sizing: border-box;
        background: variabili.$coloreArancione;

        &__big {
            font-size: 18px;
            text-align: center;
            padding: 0;
            margin: 0;
        }
        
    }

    &__contatore {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        margin-top: 5px;
        height: 300px;
        border-radius: 8px;
        box-sizing: border-box;
        background: #c6def5;
        background: linear-gradient(164deg, rgba(198, 222, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);

        @media (min-width:1024px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 8px;
            margin-top: 8px;
            height: 400px;
            width: 100%;
            }

        &__numero {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 120px;
            height: auto;
            }
        }
        
        &__button {
            // STILE BOTTONI 
            width: 100%;
            height: 50px;
            border: 1px solid yellow;
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 80px;
        }
        
        &__randomText{
            margin: 16px auto;
            text-align: center;
            width: 100%;

        span {
            animation: lampeggiamento 1s ease-in-out infinite;
        }
    }

    &__image {
        margin-top: 50px;
    }
        
    } // chiude main__

    

// - - - - S I D E B A R - - - - - 
.sidebar {
    width: 100%;
    margin-top: 16px;
    font-size: 18px;
    padding: 16px;

    &__score {
        display: flex;
        flex-direction: column;

        &__info {
            width: 100%;
        }

        li{
            list-style-type: none;
            padding-top: 10px;

        span {
            font-size: 22px;
            }
        }
    } //chiude score__

    &__image {
            max-width: 250px;
            margin: 24px auto;
            animation: interferenza 5s ease-in-out infinite;
            border-radius: 0px;
        }
}

.footer {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: black;
    // border: 1px solid variabili.$coloreVerde;
    grid-area: footer;
    width: 100%;
    margin: 16px auto;

    @media (min-width:1024px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        grid-area: footer;
    }
}

    a{ 
        text-decoration: underline;
        padding: 5px;
        color: black;

        @media (min-width:1024px) {
            text-decoration: underline;
            font-size: 20px;
            color: black;
    }
}
