// VARIABLES FOSI SITE WEB

$coloreNero: #000;
$coloreVerde: #1FE211;
$coloreVerdeScuro: #17b70b;
$coloreRosso: #FF0004;
$fontFamilyMain: "Press Start 2P", system-ui;
$fontFamilyText: "Share Tech Mono", monospace;
$fontSize: 16px;
// $lightRed: #F35050;
// $darkRed: #FF0000;