@use "../abstract/variables";

//  stile bottoni
// + & - button
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: variables.$coloreVerde;
    color: variables.$coloreNero;
    border: none;
    border-radius: 0;
    font-size: 35px;
    cursor: pointer;
}


// stile reset
.reset {
    font-size: 12px;
    border-radius: 0;
    max-width: 100px;
    height: 30px;
    border: 1px solid grey;
    background: rgb(169, 168, 168);
    cursor: pointer;
}


// hover button
.btn:hover {
    background: variables.$coloreVerdeScuro;
}

.reset:hover {
    background: linear-gradient(rgb(86, 86, 86), rgb(41, 37, 37));
}

.dark-button {
    width: 70px;
    border-radius:0;
    border: none;
    background-color: variables.$coloreVerde;
}