// importazione variabili
@use "../abstract/variables";


// H E A D E R - - - - - 
#header {
    grid-area: header;
    width: 100%;
    margin-top: 16px;

    h1 {
        font-family: variables.$fontFamilyMain;
        font-size: 27px;
        text-align: left;
        line-height: 1.2em;
    }
    span {
        width: 100%;
        text-align: left;
        font-size: 20px;
        }

    // menu
    #nav-bar {
        position: relative;
        width: 100%;
        text-align: center;
        // border: 1px solid salmon;
        background-color: variables.$coloreVerde;
        margin-top: 8px;
        cursor: pointer;

        span {
            width: 100%;
            color:  variables.$coloreNero;
            animation: lampeggiamento 1s ease-in-out infinite;
        }

        .menu-lista {
            position: absolute;
            top: 22px;
            // display: none;
            z-index: 10;
            height: auto;
            list-style: none;
            background-color: variables.$coloreVerde;
            width: 100%;

            li {
                padding: 10px;
                list-style: none;
                width: 100%;
                color: black;

                a {
                    text-decoration: none;
                    color: black;
                }
            }
            li:hover {
                background-color: variables.$coloreNero;
                color: white;
                
                a{
                    color: white;
                }
            }
        }
    }
}

// A S I D E - - - - - - 
#aside {
    display: none;
    grid-area: "aside";
    width: 100%;
}

// M A I N - - - - - -
#main {
    border: 1px solid variables.$coloreVerde;
    padding: 16px;
    margin-top: 16px;
    grid-area: main;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    height: auto;

    #title-main {
        width: 100%;
        display: flex;
        justify-content: space-between;

        h4{
            // animation: lampeggiamento 1s ease-in-out infinite;
        }
    }

    .box-contatore {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        height: 100px;
        margin-top: 8px;
        border: 5px solid variables.$coloreVerde;
        height: 300px;

        #numero {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 120px;
            height: auto;
        }
        .box-button{
            // bottoni
            width: 100%;
            height: 50px;
            border: 1px solid yellow;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }

    .random-text {
        margin: 16px auto;
        text-align: center;
        width: 100%;

        span {
            animation: lampeggiamento 1s ease-in-out infinite;
        }
    }

    .coins {
        animation: lampeggiamento 1s ease-in-out infinite;
    }
}

// S I D E B A R - - - - - 
#sidebar {
    width: 100%;
    border: 1px solid variables.$coloreVerde;
    margin-top: 16px;
    font-size: 18px;
    padding: 16px;

    li{
        list-style-type: none;
        padding-top: 10px;

        span {
            font-size: 22px;
            color: variables.$coloreRosso;
        }
    }
}

#footer {
    background-color: variables.$coloreVerde;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    // border: 1px solid variables.$coloreVerde;
    grid-area: footer;
    width: 100%;
    margin: 0 auto;

    a{ 
        text-decoration: underline;
        color: black;
    }
}

.alert {
    background-color: aqua;
}




// **** DESKTOP QUERY
@media (min-width:768px) {
    #header {
        grid-area: header;
        width: 100%;
        text-align: center;
        height: auto;

        span{
            text-align: center;
        }
    }

    #aside {
        height: 80vh;
        display: block;
        grid-area: "aside";
        width: 100%;
        margin-top: 16px;
        padding: 16px;
        border: 1px solid variables.$coloreVerde;

        h4 {
            font-size: 20px;
        }

        p{
            padding: 8px;
            line-height: 1.2rem;
            letter-spacing: 0.2;
            animation: interferenza 10s ease-out infinite;
        }
        ol {
            padding-left: 32px;
            width: 100%;

            li {
            box-sizing: border-box;
            width: 100%;
            text-align: left;

            p{
                box-sizing: border-box;
                color: yellow;
            }
            }
        }
        
    }

    #main {
        grid-area: main;
        width: 100%;
        grid-template-columns: 2fr 1fr;
        height: 80vh;
        
        .box-contatore {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 8px;
            margin-top: 8px;
            border: 5px solid variables.$coloreVerde;
            height: 400px;
            width: 100%;

            #numero {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 120px;
                height: auto;
            }
            .box-button{
                // bottoni
                width: 100%;
                height: 50px;
                border: 1px solid yellow;
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 80px;
            }
    }

    .random-text {
        font-size: 22px;
        margin: 16px auto;
        text-align: center;
        width: 100%;

        span {
            animation: lampeggiamento 1s ease-in-out infinite;
        }
    }

    .coins {
        animation: lampeggiamento 1s ease-in-out infinite;
    }


    }
    #sidebar {
        width: 100%
    }

    #footer {
        display: flex;
        justify-content: space-around;
        grid-area: footer;

        a {
            text-decoration: underline;
            font-size: 20px;
            color: black;
        }
    }
}


// ANIMAZIONI
@keyframes lampeggiamento {
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
    
}

@keyframes interferenza {
    0%{opacity: 1;}
    .2%{opacity: 0;}
    .4%{opacity: 1;}
    .5%{opacity: 0;}
    .6%{opacity: 1;}
    .8%{opacity: 0;}
    1%{opacity: 1;}
    2%{opacity: 0;}
    3%{opacity: 1;}
    100%{opacity: 1;}
}