// VARIABLES FOSI SITE WEB

$coloreNero: #000;
$coloreBlu: #118ee2;
$coloreBluScuro: #0c6fb0;
$coloreArancione: #ff7300;
$coloreBackgroundElementi: #C6DEF5;
$fontFamilyMain: "Roboto", sans-serif;
$fontSize: 16px;
// $lightRed: #F35050;
// $darkRed: #FF0000;